body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  font-size: 26px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 50px;
}

h1 {
  color: #333;
  text-align: center;
}

img {
  width: 70%;
}
